.teaser {
  background-color: $color-gray-extra-light;
}

.teaser__image {
  display: block;
  width: 100%;
}

.teaser__description {
  margin-bottom: 10px;
}

.teaser__inner {
  padding: 8px 10px;
}
