$color-transparent: transparent !default;

$color-white: #ffffff !default;
$color-black: #322c2b !default;

$color-gray-extra-light: #f1f1f1;
$color-gray-lighter: #e8e7e8;
$color-gray-light: #c3c0c5;
$color-gray: #999999;
$color-gray-dark: #444444;
$color-gray-darker: #333333;

$color-green-light: #b6c58e !default;
$color-green: #739024 !default;
$color-green-dark: #536e0b !default;
$color-alert: #e30042 !default;

$colors: (
  transparent: $color-transparent,
  white: $color-white,
  black: $color-black,
  green-light: $color-green-light,
  green: $color-green,
  green-dark: $color-green-dark,
  alert: $color-alert,
  gray: $color-gray,
  gray-dark: $color-gray-dark,
  gray-darker: $color-gray-darker,
  gray-light: $color-gray-light,
  gray-lighter: $color-gray-lighter,
  gray-extra-light: $color-gray-extra-light
);

$color-default: $color-black;
